<!DOCTYPE html>
<html>
<head>
	<title>REACTJS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<script src="frontend/js/react.js"></script>
	<script src="frontend/js/react-dom.js"></script>
	<script src="frontend/js/jquery.min.js"></script>
	<script type="text/javascript" src="frontend/js/babel.min.js"></script>
	<link rel="stylesheet" type="text/css" href="frontend/css/react.css">
	<style type="text/css">

	</style>
</head>
<body>
	<div id="root"></div>
	<hr>
	<div id="root2"></div>
	<script type="text/babel" src="frontend/js/js.js"></script>
</body>
</html>
