.div-note{
	width: 150px;
	padding: 5px;
	margin: 3px;
	border: solid 3px green;
	border-radius: 5px;
}

.div-list{
	width: 170px;
	padding: 5px;
	border: solid 3px blue;
	border-radius: 5px;
}
.mauvang{
	background-color: yellow;
}
.container{
	border-style: solid;
    border-color: #ffbf00;
    border-width:5px;
    width: 50%;
    height: 100%%;
}
.title{
	margin-left: 20px;
	padding-bottom: -10px;
	margin-bottom:0px;
}
.table{
	border-style: solid;
    border-color: #0000ff;
    border-width:5px;
    width: 75%;
    height: 100%;
    margin-left: 10px;
}
.table-div{
	width: 100%;
}
table, td, th {

}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: left;;
}
.checkoutbt{
	float: right;
}


@media only screen and (max-width: 500px) {

    .container{
	    width: 100%;
	}
}

@media only screen and (max-width:1000px) {

    .container{
	    width: 70%;
	}
}
